* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #926239;
}

.showcase {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-color);
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.showcase h1 {
  font-size: 50px;
}
.showcase p {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.showcase a {
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--primary-color);
  border: var(--primary-color) 1.8px solid;
  border-radius: 10px;
}
.showcase a:hover {
  background-color: var(--primary-color);
  color: white;
}
.section-a {
  background-color: var(--primary-color);
  color: white;
  font-size: 15px;
  text-align: center;
  width: 100vw;
}
.section-a p {
  padding: 20px;
}
.section-b {
  color: var(--primary-color);
  font-size: 15px;
  text-align: center;
  width: 100vw;
}
.section-b p {
  padding: 20px;
}
.section-c {
  display: flex;
  width: 100vw;
}
.section-c div {
  width: 100vw;
}
.section-c .box1,
.box3 {
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 20px;
}
.section-c .box2 {
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
  padding: 20px;
}
